body {
  background-color: #fee;
  color:#033;
}
input#userInput::placeholder {
  color: #daa;
  opacity:0.35;
}
input#userInput {
  color: #054;
}

#help {
  position:fixed;
  left:-110px;
  top:0px;
  padding:10px;
  font-size:10px;
  width:100px;
  transition:left 1s, opacity 0.5s;
  opacity:1;
  padding-right:25px;
  padding-bottom:25px;

  max-height:100%;
  overflow: auto;

  color:#999;
  background-color:white;
  border-bottom:1px solid #ccc;
  border-right:1px solid #ffe;
}
#help:hover {
  left:0px;
  opacity:1;
}
#helpLabel {
  position:fixed;
  top:0px;
  left:30px;
}
